*, *::before, *::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.color-form {
    display: flex;
    align-items: center;
    justify-content: center;;
    padding: 24px 12px;
    gap: 12px;
}

.form-child-borders {
    border: 1px solid #9CA3AF;
    border-radius: 8px;
    height: 50px
}

.color-picker {
    display: block;
    width: 50px;
}

.select-color-scheme {
    font-size: .75rem;
    padding-left: 1em; 
}

.get-color-scheme-btn {
    font-size: .75rem;
    padding: 0 1em;
    background-color: #fff;
    color: black;
}

.color-scheme-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 75vh;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.swatch-container:active {
    opacity: 0.7;
}
.swatch {
   height: 90%;
}

#color-swatch-0 {
    background-color: #ff0000;
}

#color-swatch-1 {
    background-color: #ffa500;
}

#color-swatch-2 {
    background-color: #ffff00;
}

#color-swatch-3 {
    background-color: #00ff00;
}

#color-swatch-4 {
    background-color: #0000ff;
}

.hex-text {
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: .5em;
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0.25em;
}